@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

body {
	background-image: url('../img/back.png');
	padding: 50px;
	font-family: 'Metrophobic', Arial, serif; font-weight: 400;
	font-size: 20px;
	position: absolute;
	text-align: center;
	padding-bottom: 80px;

}

.container {
	background-color: #FFF;
	max-width: 75%;
	clear: both;
	min-height: 100%;
	padding: 20px;
}

.logo {
	text-align: center;
}

nav {
	text-align: center;
}

nav ul {
	margin: 20px;
}

nav li {
	width: 100px;
	display: inline-block;
	margin: 0 auto;
}

nav a {
	text-decoration: none;
	color: #555;
}

nav a:link,
nav a:visited {
	text-decoration: none;
}

nav a:hover {
	color: #555;
	border-bottom: 5px solid #000;
}

footer {
	clear: both;
	padding: 0;
	width: 80%;
	display: block;
	text-align: center;
	bottom: 0;
	border-top: 5px solid #FFF;
	border-bottom: 5px solid #FFF;
	margin: 0 auto;
	font-size: 15px;
	background-image: url('../img/back.png');
}

.pizza {
	text-align: center;	
}

.email {
	color: #FFF;
}

.email:hover {
	color: #000;
}

.twitter {
	color: #FFF;
}

.twitter:hover {
	color: #FFF;
}

h2 {
	color: #930000;
	font-weight: bold;
}

dd {
	font-size: 18px;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*.logo {
	width: 80px;
	margin: 0 auto;
}*/
